[submodule "package/z.lua"]
	path = package/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "package/.tmux"]
	path = package/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "4_shell/z.lua"]
	path = 4_shell/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule "2_vim/vim-init"]
	path = 2_vim/vim-init
	url = https://github.com/lwllvyb/vim-init
